main {
	display: flex;
}

.left_main_block {
	width: calc(100% - 474px);
	margin-left: 474px;
}

hr {
	padding-bottom: 67px;
	color:#F8FAFC;
}

header{
	background: #F8FAFC;
	position: fixed;
    left: 474px;
    width: calc(100% - 474px);
	z-index: 1;
}

.container, .container-sm {
    max-width: 540px;
	min-width: 653px;
}