.container-toogle {
	display: flex;
    align-items: center;
}


.toggle-button {
	position: relative;

	width: 28px;
	height: 10px;
	margin: 0;

	vertical-align: top;

	background: #D3D9DE;
	/*   border: 1px solid #FFFFFF; */
	border-radius: 45px;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
	margin-right: 16px;
}

.toggle-button::after {
	content: "";

	position: absolute;
	left: -3px;
	top: -3px;

	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	border: 1px solid #D3D9DE;
	border-radius: 50%;

	transform: translateX(0);

	transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
	transform: translateX(calc(100% + 3px));
	background-color: #3B82F6;
	border: 0px;
}

.toggle-button:checked {
	background-color: rgba(59, 130, 246, 0.48);
}

.toogle_label {
	
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #0F172A;
	margin: 19px 0px 19px 0px;
}